<footer id="footer-parent">
    <p id="footer-heading"> <i class="far fa-copyright"></i> Codeial. All rights reserved.</p>
    <ul id="footer-list">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">Profile</a>
        </li>
    </ul>
</footer>