<header id="header-parent">
    <h2 id="header-heading"> <i class="fab fa-cuttlefish"></i> Codeial</h2>
    <ul id="header-list">
        <% if (locals.user){ %>
            <li id='header-child1'>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
            <li id="header-child2">
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>
            <li id="header-child3">
                <a href="/users/sign-in">Sign In</a>
            </li>
            <li id="header-child4">
                <a href="/users/sign-up">Sign Up</a>
            </li>
        <%}%>
    </ul>
    
</header>