<h1>Sign In</h1>
<form action="/users/create-session" method="POST">
    <input type="email" id="email" name="email" placeholder="Your Email" required>
    <input type="password" id="password" name="password" placeholder="Set Password" required>
    
    <button type="submit" name="submit">Create Account</button>
</form>
